// Color
$baseColor1: #F9F6F0;
$mainColor1: #06344F;
$textColor1: #FFEB86;
$textColor2: #635058;
$textColor3: #F8D6BD;
$overlay1: rgba(#3C2F10,0.3);
$overlay2: rgba(#FFFFFF,0.85);


// Font
$caslon: "Libre Caslon Text";
$serif:"Noto Serif JP";
$sans: "Noto Sans JP";
$jost: "Jost";

$header-height: 120px;



// 変数の定義
$primary-color: #333;
$secondary-color: #eee;
$accent-color: #007bff;
$font-family: 'Noto Sans JP', sans-serif;